.App {
  text-align: center;
  display: flex;
  background-color: rgb(24, 23, 23);
  color : white;
  position: absolute;
  top : 0;bottom: 0;right: 0; left: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.sidemenu{
  width : 260px;
  border: solid 1px rgb(255, 255, 255);
  background-color: #2c2e2e;
  padding : 10px
}
.side-menu-button {
  padding : 15px ;
  border : 1px solid white;
  border-radius:  5px;
  text-align: left;
  transition: ease 0.25 s all;
}
.side-menu-button :hover{
background-color: rgba(255, 255, 255, 0.1);
}
.chatbox {
flex :  1;
border: 1px solid white;
position: relative;
}
.chat-input-holder{
padding : 24px;
position : absolute;
bottom: 0 ;
size : 90%
}
.chat-textarea {
  background-color: #342c3f;
  width: 80%;
  border-radius: 5px;
  font-size: 1.25em;
  color: white;
  border :none;
  margin: 12px;
  outline: none;
  box-shadow: 0 8px 4px 0;
}
.chat-message-text{
  background-color: #736388;
  width: 90%;
  border-radius: 5px;
  font-size: 1.25em;
  color: white;
  border :none;
  margin: 25px;
  outline: none;
  box-shadow: 0 8px 4px 0;
}
.button-click {
  background-color: "342c3f";
  color: black;
  padding: 5px 15px;
  border-radius: 5px;
  outline: 0;
  text-transform: "uppercase";
  margin: 10px 0px;
  cursor: "pointer";
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
